@model UniversityManagementApp.ViewModels.EnrollViewModel
@{
    ViewData["Title"] = "Enroll students";
}

<h1>Enrollments</h1>
<form  asp-action="Enroll" >
    <div class="form-group">
        <label asp-for="SearchYear" class="control-label">Year</label>
        <input asp-for="SearchYear" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SearchSemester" class="control-label">Semester</label>
        <input asp-for="SearchSemester" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label">Students</label>
        <select asp-for="SelectedStudents" class="form-control" js-example-basic-multiple asp-items="Model.StudentsList">
        </select>
        <span asp-validation-for="SelectedStudents" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


